<!DOCTYPE html>
<html>
  <head>
  </head>
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
    <link rel="manifest" href="./manifest.json" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#106CC8">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#106CC8">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#106CC8">

    <link rel="stylesheet" href="./lib/font.css">
    <link rel="stylesheet" href="./lib/icon.css">
    <link rel="stylesheet" href="./lib/angular-material.min.css">
    <link rel="stylesheet" href="./jhora.css">
    <title>Jhora</title>
  <body>
    <div ng-controller="jhoraCtrl" ng-cloak >
          <div id="mySidenav" style="background-color: rgb(57,73,171);" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()" >&times;</a>
            <a ng-click="goto($index)" style="color: #E0ECF8;" ng-repeat="tab in tabs" class="tabs" ng-href="#!{{tab.route}}" >{{tab.title}}
              <md-tooltip md-direction="right" >{{tab.title}}</md-tooltip>
            </a>
          </div>
          <div id="main">
          	<md-toolbar   class="md-theme-light _md _md-toolbar-transitions tabs" ng-click="openNav()">
              	<h1 class="md-toolbar-tools">
              	&#9776; Jhora</h1>
                <div  style="text-align:center;margin-top: -41px;"  > {{template.title}}</div>
            </md-toolbar>
              <div ng-view ng-click="closeNav()"></div>
          </div>
    </div>
    <script src="./lib/angular.min.js"></script>
    <script src="./lib/angular-route.min.js"></script>
    <script src="./lib/angular-animate.min.js"></script>
    <script src="./lib/angular-aria.min.js"></script>
    <script src="./lib/angular-messages.min.js"></script>
    <script src="./lib/angular-material.min.js"></script>
    <script src="./lib/Chart.min.js"></script>
    <script src="./lib/firebase.js"></script>
    <script src="./jhora.js"></script>
    <script src="./customer/addCustomerCtrl.js"></script>
    <script src="./customer/viewCustomerCtrl.js"></script>
    <script src="./customer/updateCustomerCtrl.js"></script>
    <script src="./transaction/addTransactionCtrl.js"></script>
    <script src="./transaction/viewTransactionCtrl.js"></script>
    <script src="./transaction/updateTransactionCtrl.js"></script>
    <script src="./passbook/passbookService.js"></script>
    <script src="./passbook/viewPassbookCtrl.js"></script>
    <script src="./village/addViewVillageCtrl.js"></script>
    <script src="./dashboard/dashboardCtrl.js"></script>
    <script src="./setting/settingCtrl.js"></script>
    <script src="./stats/statsCtrl.js"></script>
    <!-- this db.js will always be the last dependency added -->
    <script src="./FirebaseQuery.js"></script>
    <script src="./sqliteWrapper.js"></script>
    <script src="./query.js"></script>
    <script src="./db.js"></script>
  </body>
</html>
