/*=======Common CSS Starts Here==========*/
md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 800px;
}

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
.customertable tr:nth-child(even) {
    background-color: #dddddd;
}

.trcr {
  background-color: #C4E690;
}
.trdr {
  background-color: rgb(253,156,142);
}
.trst {
  background-color: rgb(128,255,255);
}

table tr:hover td {
  font-weight: bold;
}

md-toolbar:not(.md-menu-toolbar){
  /* background-color: rgb(57,73,171); */
  background-color: #106CC8;
  background: linear-gradient(#185694, #106cc8);
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* border-bottom: 1px solid #267ED5;
    border-top: 1px solid #267ED5;
    border-right: 1px solid #267ED5;
    border-left: 1px solid #267ED5;
    border: 1px solid #267ED5;
    background-color: rgb(57,73,171); */
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: #106CC8;
    background: -webkit-linear-gradient(#185694, #106cc8);
    background: linear-gradient(#185694, #106cc8);
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.error {
  color: red;
}
#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.sortorder:after {
  content: '\25b2';
}
.sortorder.reverse:after {
  content: '\25bc';
}

.tabs:hover {
  cursor: pointer;
  background-color: #267ED5;
}
.movedown {
  width:450px;
}
.width {
  width: 250px;
}
.pad {
  padding-left:25px;
}
.nolink {
  color: white;
  text-decoration: none !important;
}
.pointer {cursor: pointer;}
.line {
  border:groove;
  border-bottom: 0px;
  border-left: 0px;
  border-top: 0px;
}
.cal {
  font-size: 20px;
    position: relative;
    top: 34px;
    padding-left: 15px;
}
.calDate {
  position: absolute;
  right: 3px;
  padding: -15px;
  margin: -15px;
  width: 230px;
}
.search {
    position: absolute;
    right: 15px;
    bottom: 10px;
}
