<div ng-controller="transectionCtrl" ng-cloak class="md-inline-form">
  <md-content layout-padding>
    <div>
      <form name="transectionForm">
        <div layout-gt-xs="row">
        <div layout-gt-sm="row">  
          <md-input-container class="md-block" flex-gt-sm>
            <label>Amount</label>
            <input ng-model="transection.amount">
          </md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Rate</label>
            <input ng-model="transection.rate">
          </md-input-container>  
          <md-input-container>
            <label>Type</label>
            <md-select ng-model="transection.type">
              <md-option><em>None</em></md-option>
              <md-option ng-repeat="type in types" ng-value="type">
                {{type}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
            <label>Customer</label>
            <md-select ng-model="transection.customerId">
              <md-option><em>None</em></md-option>
              <md-option ng-repeat="cust in customers" ng-value="cust.id">
                {{cust.name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div layout-gt-sm="row">
          <md-input-container>
            <label>Date</label>
            <md-datepicker ng-model="transection.date" md-placeholder="Enter date" md-open-on-focus></md-datepicker>
          </md-input-container>
          <md-input-container>
            <label>Promise Date</label>
            <md-datepicker ng-model="transection.promiseDate" md-placeholder="Enter promise date" md-open-on-focus></md-datepicker>
          </md-input-container>
        </div>
        </div>
        <md-input-container class="md-block">
          <label>Remarks</label>
          <textarea ng-model="transection.remarks" md-maxlength="80" rows="1" md-select-on-focus></textarea>
        </md-input-container>
      </form>
      <md-button class="md-raised md-primary" ng-click="submitTransection()">Submit</md-button>
      <md-button class="md-raised md-warn" ng-click="resetTransection()">Reset</md-button>
    </div>
  </md-content>
</div>
