<div ng-controller="transectionCtrl">  
   Search: <input ng-model="$ctrl.query" />
   <select ng-model="$ctrl.orderProp">
     <option value="amount">Amount</option>
     <option value="customerId">Account</option>
     <option value="date">Date</option>
     <option value="rate">Rate</option>
   </select> 
       
  <table>
    <tr>
      <td>Amount</td>
      <td>Date</td>
      <td>Acc. No</td>
      <td>Rate</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    <tr ng-repeat="tran in transections | filter:$ctrl.query | orderBy:$ctrl.orderProp">
      <td>{{ tran.amount | currency:'&#8377;' }}</td>
      <td>{{ tran.date | date:'medium' }}</td>
      <td>{{ tran.customerId }}</td>
      <td>{{  tran.rate }}%</td>
      <td ng-click="editTransection(tran)"><a><i class="material-icons">edit</i></a></td>
      <td ng-click="deleteTransection(tran)"><a><i class="material-icons" style="color:red">delete</i></a></td>
    </tr>
  </table>
</div>
