<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
    <link rel="manifest" href="./manifest.json" />
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#106CC8">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#106CC8">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#106CC8">

    <link rel="stylesheet" href="./assets/lib/font.css">
    <link rel="stylesheet" href="./assets/lib/icon.css">
    <link rel="stylesheet" href="./assets/lib/angular-material.min.css">
    <link rel="stylesheet" href="./assets/jhora.css">
    <title>Jhora</title>
  </head>
  <body>
    <div ng-controller="jhoraCtrl" ng-cloak >
          <div id="mySidenav" style="background-color: rgb(57,73,171);" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" ng-click="closeNav()" >&times;</a>
            <a ng-click="goto($index)" style="color: #E0ECF8;" ng-repeat="tab in tabs" class="tabs" ng-href="#!{{tab.route}}" >{{tab.title}}
            </a>
            <md-button class="md-raised md-warn" style="margin-left:30px" onclick="signOut()">Logout</md-button>
          </div>
          <div id="main">
          	<md-toolbar   class="md-theme-light _md _md-toolbar-transitions tabs" ng-click="openNav()">
              	<h1 class="md-toolbar-tools">
              	&#9776; Jhora</h1>
                <div  style="text-align:center;margin-top: -41px;"  > {{template.title}}</div>
            </md-toolbar>
              <div ng-view ng-click="closeNav()"></div>
          </div>
    </div>
    <script src="./assets/lib/angular.min.js"></script>
    <script src="./assets/lib/angular-route.min.js"></script>
    <script src="./assets/lib/angular-animate.min.js"></script>
    <script src="./assets/lib/angular-aria.min.js"></script>
    <script src="./assets/lib/angular-messages.min.js"></script>
    <script src="./assets/lib/angular-material.min.js"></script>
    <script src="./assets/lib/Chart.min.js"></script>
    <!-- <script src="./assets/lib/firebase.js"></script> -->
    <script src="https://www.gstatic.com/firebasejs/8.2.5/firebase.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/json2csv"></script>
    <script src="https://cdn.rawgit.com/Keyang/node-csvtojson/d41f44aa/browser/csvtojson.min.js"></script>
    <script src="./jhora.js"></script>
    <script src="./customer/addCustomerCtrl.js"></script>
    <script src="./customer/viewCustomerCtrl.js"></script>
    <script src="./customer/updateCustomerCtrl.js"></script>
    <script src="./transaction/addTransactionCtrl.js"></script>
    <script src="./transaction/viewTransactionCtrl.js"></script>
    <script src="./transaction/updateTransactionCtrl.js"></script>
    <script src="./passbook/passbookService.js"></script>
    <script src="./passbook/viewPassbookCtrl.js"></script>
    <script src="./village/addViewVillageCtrl.js"></script>
    <script src="./setting/settingCtrl.js"></script>
    <script src="./FirebaseQuery.js"></script>
    <script type="text/javascript">
    function signOut(){
      firebase.auth().signOut().then(()=>{
        window.location.href ="/";
      }).catch((error)=>{
        console.error('signout error', error);
      });
    }

    firebase.auth().onAuthStateChanged((user)=>{
      if(user){
          console.log('Do nothing')
      }else{
          window.location.href ="/";
      }
    });
    </script>
  </body>
</html>
