<!DOCTYPE html>
<html>
  <head>
  </head>
    <link rel="stylesheet" href="lib/font.css">
    <link rel="stylesheet" href="lib/icon.css">
    <link rel="stylesheet" href="lib/angular-material.min.css">
    <link rel="stylesheet" href="./jhora.css">
    <title>Jhora</title>
  <body>
    <div  ng-app="jhora" ng-controller="jhoraCtrl" ng-cloak>
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" >&times;</a>
            <a ng-click="goto($index)" ng-repeat="tab in tabs">{{tab.title}}  
              <md-tooltip md-direction="bottom">{{tab.title}}</md-tooltip>
            </a>
          </div>
          <div>
          	<md-toolbar class="md-theme-light _md _md-toolbar-transitions" ng-click="openNav()">
          		<input type="hidden" id="nav_value" value="1">
              	<h1 class="md-toolbar-tools">
              	&#9776;Jhora</h1>
                <div  style="text-align:center;margin-top: -32px;">{{template.title}}</div>
            </md-toolbar>
            <div ng-include="template.content" ng-cloak></div>
          </div>  
    </div>
    <script src="./db.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>
    <script src="lib/angular-animate.min.js"></script>
    <script src="lib/angular-aria.min.js"></script>
    <script src="lib/angular-messages.min.js"></script>
    <script src="lib/angular-material.min.js"></script>
    <script src="./jhora.js"></script>
    <script src="./customer/customerCtrl.js"></script>
    <script src="./transection/transectionCtrl.js"></script>
  </body>
</html>
