md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: 800px;
} 

table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
.trcr {
  background-color: #C4E690;
}
.trdr {
  background-color: rgb(244,81,30);
}
.trst {
  background-color: #70D145;
}

md-toolbar:not(.md-menu-toolbar){
  background-color: rgb(57,73,171);
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(57,73,171);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}
