<div ng-controller="viewPassbookCtrl">

  <md-content layout-padding>
  	<table style="width:80%;margin: 0px auto;">
  		<tr><td style="background-color: rgb(57, 73, 171); width: 250px;color:#E0ECF8;text-align: center;" colspan="6"><h4>{{customer.name}} {{salutation}} {{customer.father}}, {{customer.village }}</h4></td></tr>
  		<tr style="background-color:#283593;color:#E0ECF8">
  			<td>Rate</td>
        <td>Page No.</td>
        <td>Mobile</td>
        <td>Guarantor</td>
        <!-- <td>Date</td> -->
        <td>Remarks</td>
  		</tr>
  		<tr style="">
        <td>{{customer.rate}}%</td>
        <td>{{customer.pageNo}}</td>
        <td>{{customer.mobile}}</td>
        <td>{{customer.guarantor}}</td>
        <!-- <td>{{customer.date | date:"EEE,d/M/yy"}}</td> -->
        <td>{{customer.remarks}}</td>
      </tr>
  	</table>
  </md-content>
  <md-content layout-padding layout="row">
    <md-input-container flex-xs  class="width">
      <label>Results for</label>
      <md-icon><i class="material-icons">sort</i></md-icon>
      <md-select name="type" ng-model="queryFor" ng-change="getNewData(queryFor)">
        <md-option ng-repeat="limit in limits" ng-value="limit">
          {{limit}}
        </md-option>
      </md-select>
    </md-input-container>
    <md-input-container flex-xs ng-show="hideNoDataFound">
    <label>Search</label>
    <md-icon> <i class="material-icons">search</i> </md-icon>
    <input ng-model="$ctrl.query" type="text">
  </md-input-container>
  <div style="width:80%;margin: 10px auto;" ng-show="hideNoDataFound">
      <label>Total : {{ (transactions | filter:$ctrl.query | orderBy:propertyName:reverse).length }} </label>
      <label> Percentage : {{ (100 / transactions.length  ) * (transactions | filter:$ctrl.query | orderBy:propertyName:reverse ).length }} % </label>
  </div>
  </md-content>
  <md-content flex="50" layout-padding layout="row" ng-show="hideNoDataFound">
  <table style="width:80%;margin: 0px auto;">
    <tr>
      <th>
        <md-button ng-click="sortBy('amount')">Amount</md-button>
        <span class="sortorder" ng-show="propertyName === 'amount'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <md-button ng-click="sortBy('date')">Date</md-button>
        <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <md-button ng-click="sortBy('type')">Type</md-button>
        <span class="sortorder" ng-show="propertyName === 'type'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <md-button ng-click="sortBy('promiseDate')">Promise Date</md-button>
        <span class="sortorder" ng-show="propertyName === 'promiseDate'" ng-class="{reverse: reverse}"></span>
      </th>
      <th ng-hide="queryFor == 'All'">
        <md-button ng-click="sortBy('deleteDate')">Deleted Date</md-button>
        <span class="sortorder" ng-show="propertyName === 'deleteDate'"  ng-class="{reverse: reverse}"></span>
      </th>
      <th ng-show="queryFor == 'All'">Edit</th>
      <th ng-show="queryFor == 'All'">Delete</th>
    </tr>
    <tr ng-class="{trcr: tran.type == 'Cr', trdr: tran.type == 'Dr', trst: tran.type == 'Settle' }" ng-repeat="tran in transactions | filter:$ctrl.query | orderBy:propertyName:reverse">
      <td>{{ tran.amount | currency:'&#8377;' }}</td>
      <td>{{ tran.date | date:"EEE,d/M/yy" }}</td>
      <td>{{ tran.type }}</td>
      <td>{{ tran.promiseDate | date:"EEE,d/M/yy" }}</td>
      <td ng-show="queryFor == 'Deleted'">{{ tran.deletedOn | date:"EEE,d/M/yy" }}</td>
      <td ng-show="queryFor == 'All'"><a ng-href="#!/transactions/update/{{tran.id}}"><i class="material-icons">edit</i></a></td>
      <td ng-click="deleteTransaction($event,tran)" ng-show="queryFor == 'All'"><i class="material-icons" style="color:red">delete</i></td>
    </tr>
  </table>
  </md-content>
  <md-content style="width:80%;margin: 10px auto;" ng-hide="hideNoDataFound">
    <h1>Sorry !! No transaction data found</h1>
  </md-content>
  <md-input-container flex-xs ng-show="hideNoDataFound">
    <label>Calculation date</label>
    <md-datepicker ng-model="calcDate" ng-change="calculatePSI()" md-open-on-focus></md-datepicker>
  </md-input-container>
  <md-button class="md-raised md-primary" ng-click="back()">Back</md-button>
  
  <div layout="row" ng-repeat="calc in calcData.calcResults">
    <md-card md-theme="dark-blue" md-theme-watch flex="50">
     <md-card-title>
       <md-card-title-text>
         <span class="md-headline">Total - {{calc.total}}</span>
         <span class="md-subhead">Date -{{calc.calcOn | date:"EEE,d/M/yy"}}</span>
         <span class="md-subhead">Calc Till -{{calc.calcTill | date:"EEE,d/M/yy"}}</span>
         <span class="md-subhead">Bal passed to -{{calc.date | date:"EEE,d/M/yy"}}</span>
         <span class="md-subhead">P - {{calc.amount}}</span>
         <span class="md-subhead">SI -{{calc.si}}</span>
         <span class="md-subhead">Merge Type -{{calc.mergedType}}</span>
       </md-card-title-text>
       <md-card-title-media>
         <div class="md-media-sm card-media"></div>
       </md-card-title-media>
     </md-card-title>
     <md-card-actions layout="row" layout-align="end center">
       <!-- <md-button ><a ng-href="#!/passbook/view/{{customer.id}}" class="nolink">Passbook</a></md-button> -->
     </md-card-actions>
   </md-card>
 </div>
</div>
