<div ng-controller="viewPassbookCtrl">
  <div flex layout="row">
    <div layout="column" flex="50">
      <md-content layout-padding>
        <md-card md-theme="dark-blue" md-theme-watch >
         <md-card-title>
           <md-card-title-text>
             <span class="md-headline">{{customer.name}} {{salutation}} {{customer.father}}</span>
             <span class="md-subhead">{{customer.village }}</span>
             <span class="md-subhead">Rate -{{customer.rate}}%</span>
             <span class="md-subhead">Page No-{{customer.pageNo}}</span>
             <span class="md-subhead">Mobile-{{customer.mobile}}</span>
             <span class="md-subhead">Guarantor-{{customer.guarantor}}</span>
             <span class="md-subhead">Remarks-{{customer.remarks}}</span>
           </md-card-title-text>
           <md-card-title-media>
             <div class="md-media-sm card-media"></div>
           </md-card-title-media>
         </md-card-title>
         <md-card-actions layout="row" layout-align="end center">
         </md-card-actions>
       </md-card>
     </md-content>
     <md-content layout-padding>
       <md-input-container flex-xs  class="width">
         <label>Results for</label>
         <md-icon><i class="material-icons">sort</i></md-icon>
         <md-select name="type" ng-model="queryFor" ng-change="getNewData(queryFor)">
           <md-option ng-repeat="limit in limits" ng-value="limit">
             {{limit}}
           </md-option>
         </md-select>
       </md-input-container>
       <md-input-container flex-xs ng-show="hideNoDataFound">
         <label>Calculation date</label>
         <md-datepicker ng-model="calcDate" md-min-date="minDate" md-max-date="maxDate" ng-change="calculatePSI()" md-open-on-focus></md-datepicker>
       </md-input-container>
       <md-input-container flex-xs ng-show="hideNoDataFound">
         <label>Search</label>
         <md-icon> <i class="material-icons">search</i> </md-icon>
         <input ng-model="$ctrl.query" type="text">
       </md-input-container>
     </md-content>
     
     <div ng-show="hideNoDataFound" layout-padding>
         <label>Total : {{ (transactions | filter:$ctrl.query | orderBy:propertyName:reverse).length }} </label>
         <label> Percentage : {{ (100 / transactions.length  ) * (transactions | filter:$ctrl.query | orderBy:propertyName:reverse ).length }} % </label>
     </div>
     
     <md-content layout-padding ng-show="hideNoDataFound">
     <table>
       <tr>
         <th>
           <md-button ng-click="sortBy('amount')">Amount</md-button>
           <span class="sortorder" ng-show="propertyName === 'amount'" ng-class="{reverse: reverse}"></span>
         </th>
         <th>
           <md-button ng-click="sortBy('date')">Date</md-button>
           <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
         </th>
         <th>
           <md-button ng-click="sortBy('type')">Type</md-button>
           <span class="sortorder" ng-show="propertyName === 'type'" ng-class="{reverse: reverse}"></span>
         </th>
         <th>
           <md-button ng-click="sortBy('promiseDate')">Promise Date</md-button>
           <span class="sortorder" ng-show="propertyName === 'promiseDate'" ng-class="{reverse: reverse}"></span>
         </th>
         <th ng-hide="queryFor == 'All'">
           <md-button ng-click="sortBy('deleteDate')">Deleted Date</md-button>
           <span class="sortorder" ng-show="propertyName === 'deleteDate'"  ng-class="{reverse: reverse}"></span>
         </th>
         <th ng-show="queryFor == 'All'">Edit</th>
         <th ng-show="queryFor == 'All'">Delete</th>
       </tr>
       <tr ng-class="{trcr: tran.type == 'Cr', trdr: tran.type == 'Dr', trst: tran.type == 'Settle' }" ng-repeat="tran in transactions | filter:$ctrl.query | orderBy:propertyName:reverse">
         <td>{{ tran.amount | currency:'&#8377;' }}</td>
         <td>{{ tran.date | date:"EEE,d/M/yy" }}</td>
         <td>{{ tran.type }}</td>
         <td>{{ tran.promiseDate | date:"EEE,d/M/yy" }}</td>
         <td ng-show="queryFor == 'Deleted'">{{ tran.deletedOn | date:"EEE,d/M/yy" }}</td>
         <td ng-show="queryFor == 'All'"><a ng-href="#!/transactions/update/{{tran.id}}"><i class="material-icons">edit</i></a></td>
         <td ng-click="deleteTransaction($event,tran)" ng-show="queryFor == 'All'"><i class="material-icons" style="color:red">delete</i></td>
       </tr>
     </table>
     </md-content>
    </div>
    <md-content layout-padding ng-show="hideNoDataFound">
      <table>
        <tr>
          <th>
            <md-button>Total</md-button>
          </th>
          <th>
            <md-button>Date</md-button>
          </th>
          <th>
            <md-button>Calc Date</md-button>
          </th>
          <th>
            <md-button>Balance Passed To</md-button>
          </th>
          <th>
            <md-button>P</md-button>
          </th>
          <th>
            <md-button>SI</md-button>
          </th>
          <th>
            <md-button>Merge Type</md-button>
          </th>
        </tr>
        <tr ng-repeat="calc in calcData.calcResults">
          <td>{{ calc.total | currency:'&#8377;' }}</td>
          <td>{{ calc.calcOn | date:"EEE,d/M/yy" }}</td>
          <td>{{ calc.calcTill | date:"EEE,d/M/yy"}}</td>
          <td>{{ calc.date | date:"EEE,d/M/yy" }}</td>
          <td>{{ calc.amount | currency:'&#8377;' }}</td>
          <td>{{ calc.si | currency:'&#8377;' }}</td>
          <td>{{ calc.mergedType}}</td>
        </tr>
      </table>
    </md-content>

     <md-content style="width:80%;margin: 10px auto;" ng-hide="hideNoDataFound">
       <h1>Sorry !! No transaction data found</h1>
     </md-content>
  </div>
  <md-button class="md-raised md-primary" ng-click="back()">Back</md-button>
</div>
