<div flex ng-controller="settingCtrl">
  <div flex="50">
    <p >{{msg}}<p>
    <p >{{msg2}}<p>
    <p >{{msg3}}<p>
    <p >{{msg4}}<p>
    <p >{{msg5}}<p>
  </div>

  <md-button class="md-raised md-primary" ng-click="export($event)">Export Data</md-button>
  <md-button class="md-raised md-primary" ng-click="calc($event)">Do Calculations</md-button>
  <md-button class="md-raised md-warn" ng-click="import($event)">Import Data</md-button>
  <md-button class="md-raised md-warn" ng-click="delete($event)">Delete Data</md-button>
</div>
