<div ng-controller="viewCustomerCtrl">
  <md-content layout-padding layout="row" >
    <md-input-container flex-xs style="width:200px;">
      <label>Results for</label>
      <md-icon><i class="material-icons">sort</i></md-icon>
      <md-select name="type" ng-model="queryFor" ng-change="getNewData(queryFor)">
        <md-option><em>None</em></md-option>
        <md-option ng-repeat="limit in limits" ng-value="limit">
          {{limit}}
        </md-option>
      </md-select>
    </md-input-container>
    <div style="width:80%;margin: 10px auto;font-weight:bold;font-size:20pt;" ng-show="hideNoDataFound">
        <center><label>Total : {{ (customers | filter:$ctrl.query | orderBy:propertyName:reverse).length }} </label>
        <label> Percentage : {{ (100 / customers.length  ) * (customers | filter:$ctrl.query | orderBy:propertyName:reverse ).length | limitTo:4}} % </label></center>
    </div>
  <md-input-container flex-xs ng-show="hideNoDataFound">
    <label>Search</label>
    <md-icon> <i class="material-icons">search</i> </md-icon>
    <input ng-model="$ctrl.query" type="text">
  </md-input-container>
  <md-content style="width:100px;">
  <md-button class="md-fab md-primary" ng-href="#!/customers/add">
      <md-icon md-svg-src="images/plus.svg"></md-icon>
      <md-tooltip md-direction="top" >Add New Customer</md-tooltip>
    </md-button>
  </md-content>

  </md-content>
  <md-content layout-padding layout="row" ng-show="hideNoDataFound" >
  <table style="width:80%;margin: 0px auto;" class="customertable">
    <tr>
      <th>
        <md-button ng-click="sortBy('name')">Name</md-button>
        <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <md-button ng-click="sortBy('father')">Father</md-button>
        <span class="sortorder" ng-show="propertyName === 'father'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <md-button ng-click="sortBy('village')">Village</md-button>
        <span class="sortorder" ng-show="propertyName === 'village'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <md-button ng-click="sortBy('mobile')">Mobile</md-button>
        <span class="sortorder" ng-show="propertyName === 'mobile'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <md-button ng-click="sortBy('dueFrom')">Due From</md-button>
        <span class="sortorder" ng-show="propertyName === 'dueFrom'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <md-button ng-click="sortBy('total')">Due</md-button>
        <span class="sortorder" ng-show="propertyName === 'total'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <md-button ng-click="sortBy('nextDueDate')">Next Due Date</md-button>
        <span class="sortorder" ng-show="propertyName === 'nextDueDate'" ng-class="{reverse: reverse}"></span>
      </th>
      <th ng-show="queryFor == 'All'">E</th>
      <th ng-show="queryFor == 'All'">D</th>
    </tr>
    <tr ng-repeat="cust in customers | filter:$ctrl.query | orderBy:propertyName:reverse">
      <td><span ng-show="queryFor == 'All'"><a ng-href="#!/passbook/view/{{cust.id}}">{{ cust.name }}</a></span><span ng-hide="queryFor == 'All'">{{ cust.name }}</span></td>
      <td>{{ cust.father }}</td>
      <td>{{ cust.village }}</td>
      <td>{{ cust.mobile }}</td>
      <td>{{ cust.dueFrom | date:"EEE,d/M/yy"}}</td>
      <td><span ng-if="cust.total == undefined">NA</span>{{ cust.total| currency :'&#8377;'}}</td>
      <td>{{ cust.nextDueDate | date:"EEE,d/M/yy"}}</td>
      <td ng-show="queryFor == 'All'"><a ng-href="#!/customers/update/{{cust.id}}"><md-tooltip md-direction="bottom">A/c-{{cust.id}} - G-{{cust.guarantor}}</md-tooltip><i class="material-icons">edit</i></a></td>
      <td ng-click="deleteCustomer($event,cust)" ng-show="queryFor == 'All'"><i class="material-icons" style="color:red">delete</i></td>
    </tr>
   </table>
  </md-content>
  <md-content style="width:80%;margin: 10px auto;" ng-hide="hideNoDataFound">
    <h1>Sorry !! No customer data found</h1>
    <md-button class="md-fab md-primary" aria-label="Eat cake" style="float:right;" ng-href="#!/customers/add">
   <md-tooltip md-direction="top" >Add New Customer</md-tooltip>
            <md-icon md-svg-src="images/plus.svg"></md-icon>
        </md-button>
  </md-content>
</div>
