<div ng-controller="addTransactionCtrl" ng-cloak class="md-inline-form">
  <div layout="row">
    <div flex="70">
      <form novalidate name="transactionForm">
        <md-content layout-padding>
            <div layout="row">
              <md-input-container flex-xs>
                <md-icon><i class="material-icons">person</i></md-icon>
              </md-input-container>

              <md-autocomplete class="pad" flex-xs  required
                md-no-cache="true"
                md-input-name="name"
                md-input-minlength="4"
                md-input-maxlength="20"
                md-selected-item="customer"
                md-search-text="searchText"
                md-items="item in searchCustomer(searchText)"
                md-item-text="item.name"
                md-require-match
                md-selected-item-change="updateSelectedCust(item)"
                md-floating-label="Name"
                ng-disabled="nameDisable"
                >
                <md-item-template>
                  <span md-highlight-text="searchText">{{item.name}}</span>
                </md-item-template>
                <md-not-found>
                  No customer found for "{{searchText}}".
                </md-not-found>
                <div ng-messages="transactionForm.name.$error" ng-if="transactionForm.name.$touched">
                  <div ng-message="required">You <b>must</b> supply a customer.</div>
                  <div ng-message="md-require-match">Please select an existing customer.</div>
                  <div ng-message="minlength">Your entry is not long enough.</div>
                  <div ng-message="maxlength">Your entry is too long.</div>
                </div>
              </md-autocomplete>
              <md-input-container flex-xs>
                <label>Type</label>
                <md-icon><i class="material-icons">credit_card</i></md-icon>
                <md-select name="type" ng-model="transaction.type" ng-change="typeSelected($event)" required>
                  <md-option><em>None</em></md-option>
                  <md-option ng-repeat="type in types" ng-value="type">
                    {{type}}
                  </md-option>
                </md-select>
                <div ng-messages="transactionForm.type.$error" role="alert" multiple>
                  <div ng-message="required" class="my-message">You must supply a type.</div>
                </div>
              </md-input-container>
              <md-input-container>
                <label>Date</label>
                <md-datepicker name="date" ng-model="transaction.date" md-min-date="minDate" md-max-date="maxDate" ng-change="dateSelected()" md-open-on-focus required></md-datepicker>
                <div ng-messages="transactionForm.date.$error" role="alert" multiple>
                  <div ng-message="required" class="my-message">You must supply a date.</div>
                </div>
              </md-input-container>
            </div>
          </md-content>
          <md-content layout-padding>
            <div layout="row">
              <md-input-container class="md-block" flex-xs>
                <label>Amount</label>
                <md-icon><i class="material-icons">money</i></md-icon>
                <input name="amount" type="number" ng-model="transaction.amount" ng-minlength="3" ng-maxlength="6" ng-min="100" ng-max="200000" required>
                <div ng-messages="transactionForm.amount.$error" role="alert" multiple>
                  <div ng-message="required" class="my-message">You must supply an amount.</div>
                  <div ng-message="minlength" class="my-message">Amount should be minimum of 3 digits.</div>
                  <div ng-message="min" class="my-message">Amount should be greater than 100.</div>
                  <div ng-message="max" class="my-message">Amount should be less than 2,00,000.</div>
                  <div ng-message="maxlength" class="my-message">Amount should be maximum of 6 digits.</div>
                </div>
              </md-input-container>
              <md-input-container flex-xs>
                <label>Promise Date</label>
                <md-datepicker name="promiseDate" ng-model="transaction.promiseDate" md-min-date="minPromiseDate" md-max-date="maxPromiseDate" ng-required ="!disablePromiseDate" md-open-on-focus ></md-datepicker>
                <div ng-messages="transactionForm.promiseDate.$error" role="alert" multiple>
                  <div ng-message="required" class="my-message">You must supply a promise date.</div>
                </div>
              </md-input-container>
              <md-input-container class="md-block" flex-xs>
                <label>Rate</label>
                <md-icon><i class="material-icons">trending_up</i></md-icon>
                <input name="rate" type="number" ng-model="transaction.rate"  ng-change="onRateChange($event)" ng-disabled= "disablePromiseDate" ng-minlength="1" ng-maxlength="3" ng-min="0" ng-max="6" ng-required="true">
                <div ng-messages="transactionForm.rate.$error" role="alert" multiple>
                  <div ng-message="required" class="my-message">You must supply rate.</div>
                  <div ng-message="min" class="my-message">Rate should be greater or equal to 0.</div>
                  <div ng-message="max" class="my-message">Rate should be less than or equal to 6.</div>
                  <div ng-message="minlength" class="my-message">Rate should be of minimum 1 digit.</div>
                  <div ng-message="maxlength" class="my-message">Rate should be of maximum 3 digits.</div>
                </div>
              </md-input-container>
              <md-input-container flex-xs>
                <label>Remarks</label>
                <md-icon><i class="material-icons">note</i></md-icon>
                <textarea ng-model="transaction.remarks" ng-minlength="4" md-maxlength="80" rows="1" md-select-on-focus></textarea>
                <div ng-messages="transactionForm.remarks.$error" role="alert" multiple>
                  <div ng-message="minlength" class="my-message">Remarks should be of minimum 4 alphabets.</div>
                  <div ng-message="md-maxlength" class="my-message">Father'sName should not be greater 80 alphabets.</div>
                </div>
              </md-input-container>
              </div>
          <md-button class="md-raised md-primary" ng-disabled="transactionForm.$invalid" ng-click="addTransaction()">Submit</md-button>
          <md-button class="md-raised md-warn" ng-click="resetTransaction()">Reset</md-button>
          <md-button class="md-raised md-primary" ng-click="back()">Back</md-button>
      </md-content>
    </form>
    </div>
    <div flex="30">
      <md-card md-theme="dark-blue" ng-show="customer.name" md-theme-watch>
       <md-card-title>
         <md-card-title-text>
           <span class="md-headline">{{customer.name}} {{salutation}} {{customer.father}}</span>
           <span class="md-subhead">{{customer.village}}</span>
           <span class="md-subhead">A/c No.-{{customer.id}}</span>
           <span class="md-subhead">Rate -{{customer.rate}}%</span>
         </md-card-title-text>
         <md-card-title-media>
           <div class="md-media-sm card-media" style="color:red;">Due - {{dueBal | currency :'&#8377;'}}/-</div>
         </md-card-title-media>
       </md-card-title>
       <md-card-actions layout="row" layout-align="end center">
         <md-button ><a ng-href="#!/passbook/view/{{customer.id}}" class="nolink">Passbook</a></md-button>
       </md-card-actions>
     </md-card>
     <md-content layout-padding layout="row" ng-show="transactions.length >0">
       <table>
         <tr>
           <th>
             <button ng-click="sortBy('name')">Name</button>
             <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
           </th>
           <th>
             <button ng-click="sortBy('amount')">Amount</button>
             <span class="sortorder" ng-show="propertyName === 'amount'" ng-class="{reverse: reverse}"></span>
           </th>
           <th>
             <button ng-click="sortBy('date')">Date</button>
             <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
           </th>
           <th>
             <button ng-click="sortBy('type')">Type</button>
             <span class="sortorder" ng-show="propertyName === 'type'" ng-class="{reverse: reverse}"></span>
           </th>
         </tr>
         <tr ng-class="{trcr: tran.type == 'Cr', trdr: tran.type == 'Dr', trst: tran.type == 'Settle' }" ng-repeat="tran in transactions | filter:$ctrl.query | orderBy:propertyName:reverse">
           <td>{{  tran.name }}</td>
           <td>{{ tran.amount | currency:'&#8377;' }}</td>
           <td>{{ tran.date | date:"EEE,d/M/yy" }}</td>
           <td>{{  tran.type }}</td>
         </tr>
       </table>
     </md-content>
    </div>
  </div>
</div>
