<div ng-controller="viewTransactionCtrl">
     <md-content layout-padding layout="row" ng-show="hideNoDataFound">
  <md-input-container flex-xs  class="width">
    <label>Results for</label>
    <md-icon><i class="material-icons">sort</i></md-icon>
    <md-select name="type" ng-model="queryFor" ng-change="getNewData(queryFor)">
      <md-option ng-repeat="limit in limits" ng-value="limit">
        {{limit}}
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container flex-xs class="movedown">
    <label>From Date</label>
    <md-datepicker name="fromDate" ng-model="tran.fromDate" ng-show="hideNoDataFound" md-max-date="maxDate" ng-change="getTransaction(queryFor)" md-open-on-focus ></md-datepicker>
  </md-input-container>
  <md-input-container flex-xs class="movedown">
      <label>To Date</label>
      <md-datepicker name="toDate" ng-model="tran.toDate" ng-show="hideNoDataFound" md-min-date="tran.fromDate" md-max-date="maxDate" ng-change="getTransaction(queryFor)" ng-disabled ="!tran.fromDate" md-open-on-focus ></md-datepicker>
    </md-input-container flex-xs>
    <md-input-container>
    <md-button class="md-raised md-warn" ng-click="clearFilter(queryFor)" ng-show="startFilter">Clear Filter</md-button>
  </md-input-container>
 <div style="width:80%;margin: 10px auto;position:relative;left:20px;font-weight:bold;font-size:20pt;">
   <label>Total : {{ (transactions | filter:$ctrl.query | orderBy:propertyName:reverse).length }} </label>
     <label> Percentage : {{ (100 / transactions.length  ) * (transactions | filter:$ctrl.query | orderBy:propertyName:reverse ).length | limitTo:4}} % </label>
 </div>
 <md-input-container flex-xs style="position:relative;left:-35px;">
   <label>Search</label>
   <md-icon> <i class="material-icons">search</i> </md-icon>
   <input ng-model="$ctrl.query" type="text">
 </md-input-container>
 <md-content  style="width:205px;">
 <md-button class="md-fab md-primary" ng-href="#!/transactions/add">
   <md-tooltip md-direction="top" >Add New Transaction</md-tooltip>
   <md-icon md-svg-src="images/plus.svg"></md-icon>
</md-button>
</md-content>
</md-content>
<md-content layout-padding layout="row" ng-show="hideNoDataFound">
  <table style="width:80%;margin: 0px auto;">
    <tr>
      <th>
        <md-button  ng-click="sortBy('amount')">Amount</md-button>
        <span class="sortorder" ng-show="propertyName === 'amount'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <md-button ng-click="sortBy('date')">Date</md-button>
        <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <md-button ng-click="sortBy('name')">Name</md-button>
        <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <md-button ng-click="sortBy('type')">Type</md-button>
        <span class="sortorder" ng-show="propertyName === 'type'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <md-button ng-click="sortBy('promiseDate')">Promise Date</md-button>
        <span class="sortorder" ng-show="propertyName === 'promiseDate'" ng-class="{reverse: reverse}"></span>
      </th>
      <th ng-hide="queryFor == 'All'">
        <md-button ng-click="sortBy('deletedOn')" >Deleted Date</md-button>
        <span class="sortorder" ng-show="propertyName === 'deletedOn'"  ng-class="{reverse: reverse}"></span>
      </th>
      <th ng-show="queryFor == 'All'">E</th>
      <th ng-show="queryFor == 'All'">D</th>
    </tr>
    <tr ng-class="{trcr: tran.type == 'Cr', trdr: tran.type == 'Dr', trst: tran.type == 'Settle' }" ng-repeat="tran in transactions | filter:$ctrl.query | orderBy:propertyName:reverse">
      <td>{{ tran.amount | currency:'&#8377;' }}</td>
      <td>{{ tran.date | date:"EEE,d/M/yy" }}</td>
      <td><span ng-show="queryFor == 'All'"><a ng-href="#!/passbook/view/{{tran.customerId}}">{{ tran.name }}</a></span><span ng-hide="queryFor == 'All'">{{ tran.name }}</span></td>
      <td>{{  tran.type }}</td>
      <td>{{  tran.promiseDate | date:"EEE,d/M/yy" }}</td>
      <td ng-show="queryFor == 'Deleted'">{{ tran.deletedOn | date:"EEE,d/M/yy" }}</td>
      <td ng-show="queryFor == 'All'"><a ng-href="#!/transactions/update/{{tran.id}}"><md-tooltip md-direction="bottom">A/c-{{tran.customerId}} - R-{{tran.rate}}%</md-tooltip><i class="material-icons">edit</i></a></td>
      <td ng-click="deleteTransaction($event,tran)" ng-show="queryFor == 'All'"><i class="material-icons" style="color:red">delete</i></td>
    </tr>
  </table>
</md-content>
  <md-content style="width:80%;margin: 0px auto;" ng-hide="hideNoDataFound">
    <h1>Sorry !! No transaction data found</h1>
      <md-button class="md-raised md-primary" ng-click="reload()">Back</md-button>
          <md-button class="md-fab md-primary" aria-label="Eat cake" style="float: right;"ng-href="#!/transactions/add">
            <md-tooltip md-direction="top" >Add New Transaction</md-tooltip>
            <md-icon md-svg-src="images/plus.svg"></md-icon>
        </md-button>
  </md-content>
</div>
