<div ng-controller="customerCtrl">
  Search: <input ng-model="$ctrl.query" />       
  <table>
    <tr>
      <td>Name</td>
      <td>Acc. No</td>
      <td>Father</td>
      <td>Address</td>
      <td>Edit</td>
      <td>Delete</td>
    </tr>
    <tr ng-repeat="cust in customers | filter:$ctrl.query">
      <td>{{ cust.name }}</td>
      <td>{{ cust.id }}</td>
      <td>{{ cust.father }}</td>
      <td>{{ cust.address }}</td>
      <td ng-click="editCustomer(cust)"><i class="material-icons">edit</i></td>
      <td ng-click="deleteCustomer(cust)"><i class="material-icons" style="color:red">delete</i></td>
    </tr>
  </table>
</div>
