<div ng-controller="viewCustomerCtrl">
    <md-input-container flex-xs>
      <label>Results for</label>
      <md-icon><i class="material-icons">sort</i></md-icon>
      <md-select name="type" ng-model="queryFor" ng-change="getNewData(queryFor)">
        <md-option><em>None</em></md-option>
        <md-option ng-repeat="limit in limits" ng-value="limit">
          {{limit}}
        </md-option>
      </md-select>
    </md-input-container>
  <md-content layout-padding layout="row" ng-show="customers.length">
  <md-input-container flex-xs>
    <label>Search</label>
    <md-icon> <i class="material-icons">search</i> </md-icon>
    <input ng-model="$ctrl.query" type="text">
  </md-input-container> 
  <div style="width:80%;margin: 10px auto;">
      <label>Total : {{ (customers | filter:$ctrl.query | orderBy:propertyName:reverse).length }} </label>
      <label> Percentage : {{ (100 / customers.length  ) * (customers | filter:$ctrl.query | orderBy:propertyName:reverse ).length }} % </label>
  </div>     
  <table style="width:80%;margin: 0px auto;">
    <tr>
      <th> 
        <button ng-click="sortBy('name')">Name</button>
        <span class="sortorder" ng-show="propertyName === 'name'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <button ng-click="sortBy('father')">Father</button>
        <span class="sortorder" ng-show="propertyName === 'father'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <button ng-click="sortBy('village')">Village</button>
        <span class="sortorder" ng-show="propertyName === 'village'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <button ng-click="sortBy('mobile')">Mobile</button>
        <span class="sortorder" ng-show="propertyName === 'mobile'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr ng-repeat="cust in customers | filter:$ctrl.query | orderBy:propertyName:reverse">
      <td>{{ cust.name }}</td>
      <td>{{ cust.father }}</td>
      <td>{{ cust.village }}</td>
      <td>{{ cust.mobile }}</td>
      <td ng-click="editCustomer(cust)"><md-tooltip md-direction="bottom">A/c-{{cust.id}} - G-{{cust.guarantor}}</md-tooltip><i class="material-icons">edit</i></td>
      <td ng-click="deleteCustomer(cust)"><i class="material-icons" style="color:red">delete</i></td>
    </tr>
  </table>
  </md-content>
  <md-content style="width:80%;margin: 10px auto;" ng-hide="customers.length">
    <h1>Sorry !! No data found</h1>
  </md-content>
</div>
