<div ng-controller="addTransactionCtrl" ng-cloak class="md-inline-form">
  <md-content layout-padding>
      <form novalidate name="transactionForm">
        <div layout-gt-xs="row">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Amount</label>
            <md-icon><i class="material-icons">money</i></md-icon>
            <input name="amount" type="number" ng-model="transaction.amount" ng-minlength="3" ng-maxlength="6" ng-min="100" ng-max="200000" required>
            <div ng-messages="transactionForm.amount.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply an amount.</div>
              <div ng-message="minlength" class="my-message">Amount should be minimum of 3 digits.</div>
              <div ng-message="min" class="my-message">Amount should be greater than 100.</div>
              <div ng-message="max" class="my-message">Amount should be less than 2,00,000.</div>
              <div ng-message="maxlength" class="my-message">Amount should be maximum of 6 digits.</div>
            </div>
          </md-input-container>
          <md-input-container flex-gt-sm>
            <label>Type</label>
            <md-icon><i class="material-icons">credit_card</i></md-icon>
            <md-select name="type" ng-model="transaction.type" required>
              <md-option><em>None</em></md-option>
              <md-option ng-repeat="type in types" ng-value="type">
                {{type}}
              </md-option>
            </md-select>
            <div ng-messages="transactionForm.type.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply a type.</div>
            </div>
          </md-input-container>
          <md-input-container flex-gt-sm>
            <label>Name</label>
            <md-icon><i class="material-icons">person</i></md-icon>
            <md-select name="name" ng-model="transaction.customerId" ng-change="updateSelectedCust(transaction.customerId)" required>
              <md-option><em>None</em></md-option>
              <md-option ng-repeat="cust in customers" ng-value="cust.id">
                {{cust.name}}
              </md-option>
            </md-select>
            <div ng-messages="transactionForm.customer.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply a customer.</div>
            </div>
          </md-input-container flex-gt-sm>
        </div>
        <div layout-gt-xs="row">
          <md-input-container>
            <label>Date</label>
            <md-datepicker name="date" ng-model="transaction.date" md-min-date="minDate" md-max-date="maxDate" ng-change="dateSelected()" md-open-on-focus required></md-datepicker>
            <div ng-messages="transactionForm.date.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply a date.</div>
            </div>
          </md-input-container>
          <md-input-container flex-gt-sm>
            <label>Promise Date</label>
            <md-datepicker name="promiseDate" ng-model="transaction.promiseDate" md-min-date="minPromiseDate" md-max-date="maxPromiseDate" ng-disabled="disablePromiseDate" md-open-on-focus required></md-datepicker>
            <div ng-messages="transactionForm.promiseDate.$error" role="alert" multiple>
              <div ng-message="required" class="my-message">You must supply a promise date.</div>
            </div>
          </md-input-container>
          <md-input-container flex-gt-sm>
            <label>Remarks</label>
            <md-icon><i class="material-icons">note</i></md-icon>
            <textarea ng-model="transaction.remarks" ng-minlength="4" md-maxlength="80" rows="1" md-select-on-focus></textarea>
            <div ng-messages="transactionForm.remarks.$error" role="alert" multiple>
              <div ng-message="minlength" class="my-message">Remarks should be of minimum 4 alphabets.</div>
              <div ng-message="md-maxlength" class="my-message">Father'sName should not be greater 80 alphabets.</div>
            </div>
          </md-input-container>
          </div>
          <div layout-gt-xs="row">
              <md-whiteframe flex-gt-sm="35" ng-show="customer.name">
                <label>A/c-</label>
               <span>{{customer.id}} - Name-{{customer.name}} - </span>
             </md-whiteframe>
              <md-whiteframe flex-gt-sm="35" ng-show="customer.village">
                <label>- Village-</label>
               <span>{{customer.village}} - Rate-{{customer.rate}}%</span>
             </md-whiteframe>
      </div>
      </form>
      <md-button class="md-raised md-primary" ng-disabled="transactionForm.$invalid" ng-click="addTransaction()">Submit</md-button>
      <md-button class="md-raised md-warn" ng-click="resetTransaction()">Reset</md-button>
  </md-content>
</div>
