<div ng-controller="transactionCtrl">  
   <md-content layout-padding layout="row">
     <md-input-container flex-xs>
       <label>Search</label>
       <md-icon> <i class="material-icons">search</i> </md-icon>
       <input ng-model="$ctrl.query" type="text">
     </md-input-container> 
 </md-content> 
 <div style="width:80%;margin: 10px auto;">
     <label>Total : {{ (transactions | filter:$ctrl.query | orderBy:$ctrl.orderProp).length }} </label>
     <label> Percentage : {{ (100 / transactions.length  ) * (transactions | filter:$ctrl.query | orderBy:$ctrl.orderProp ).length }} % </label>
 </div>
  <table style="width:80%;margin: 0px auto;">
    <tr>
      <th> 
        <button ng-click="sortBy('amount')">Amount</button>
        <span class="sortorder" ng-show="propertyName === 'amount'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <button ng-click="sortBy('date')">Date</button>
        <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <button ng-click="sortBy('customer')">Customer</button>
        <span class="sortorder" ng-show="propertyName === 'customer'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <button ng-click="sortBy('type')">Type</button>
        <span class="sortorder" ng-show="propertyName === 'type'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>
        <button ng-click="sortBy('promiseDate')">Promise Date</button>
        <span class="sortorder" ng-show="propertyName === 'promiseDate'" ng-class="{reverse: reverse}"></span>
      </th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr ng-class="{trcr: tran.type == 'Cr', trdr: tran.type == 'Dr', trst: tran.type == 'Settle' }" ng-repeat="tran in transactions | filter:$ctrl.query | orderBy:$ctrl.orderProp">
      <td>{{ tran.amount | currency:'&#8377;' }}</td>
      <td>{{ tran.date | date:"EEE,d/M/yy" }}</td>
      <td>{{ tran.customer }}</td>
      <td>{{  tran.type }}</td>
      <td>{{  tran.promiseDate | date:"EEE,d/M/yy" }}</td>
      <td ng-click="editTransaction(tran)"><md-tooltip md-direction="bottom">A/c-{{tran.customerId}} - R-{{tran.rate}}%</md-tooltip><i class="material-icons">edit</i></td>
      <td ng-click="deleteTransaction(tran)"><i class="material-icons" style="color:red">delete</i></td>
    </tr>
  </table>
</div>
