<div ng-controller="viewPassbookCtrl">
  <div layout="column" flex="100">
    <div layout="column" >
      <div flex=100 style="max-height:90px;" >
        <md-content style="height:120px">
          <md-card md-theme="dark-blue" md-theme-watch >
            <md-card-header-text style="padding-left: 550px">
              <span class="md-title">{{customer.name}} {{salutation}} {{customer.father}}</span>
              <span class="md-title" style="float: right;padding-right: 20px; color:red;font-size: 22px;" ng-if="hideNoDataFound"><strong> Total Amount Due - {{dueBal | currency :'&#8377;'}}/-</strong></span>
            </md-card-header-text>
             <span style="text-align:center">Village: {{customer.village }}</span>
             <div layout-padding>
               <span>Rate: {{customer.rate}}%</span>
               <span style="position: absolute;left:15%;bottom:34px">Page No: {{customer.pageNo}}</span>
               <span style="position: absolute;left:30%;bottom:34px">Mobile: {{customer.mobile}}</span>
               <span ng-if="customer.guarantor" style="position: absolute;left:50%;bottom:34px">Guarantor: {{customer.guarantor}}</span>
               <span ng-if="customer.remarks" style="position: absolute;left:75%;bottom:34px">Remarks: {{customer.remarks}}</span>
             </div>
         </md-card>
        </md-content>
    </div>
    <div layout="row" style="max-height: 75px;">
    <div flex="50" >
      <md-content layout-padding ng-class="{'line' :hideNoDataFound==true}">
          <span style="font-size:20px"ng-if="hideNoDataFound"><strong> Transactions </strong></span>
        <md-input-container flex-xs  class="width">
          <label>Results for</label>
          <md-icon><i class="material-icons">sort</i></md-icon>
          <md-select name="type" ng-model="queryFor" ng-change="getNewData(queryFor)">
            <md-option ng-repeat="limit in limits" ng-value="limit">
              {{limit}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex-xs ng-show="hideNoDataFound" class="search">
          <label>Search</label>
          <md-icon> <i class="material-icons">search</i> </md-icon>
          <input ng-model="$ctrl.query" type="text" style="width:125px">
        </md-input-container>
      </md-content>
   </div>
     <div flex="50" >
       <span class="cal"  ng-if="hideNoDataFound" ng-hide="queryFor == 'Settled'"><strong> Calculations </strong></span>
      <md-content  class="calDate">
       <md-input-container flex-xs ng-show="hideNoDataFound" ng-hide="queryFor == 'Settled'">
         <label style="right: 0px;left: auto;width: 125px;">Calculation date</label>
         <md-datepicker ng-model="calcDate" md-min-date="minDate" md-max-date="maxDate" ng-change="calculatePSI(calcDate)" ></md-datepicker>
       </md-input-container>
     </md-content>
   </div>
 </div>
</div>
<div layout="row" >

     <!-- <div ng-show="hideNoDataFound" layout-padding>
         <label>Total : {{ (transactions | filter:$ctrl.query | orderBy:propertyName:reverse).length }} </label>
         <label> Percentage : {{ (100 / transactions.length  ) * (transactions | filter:$ctrl.query | orderBy:propertyName:reverse ).length }} % </label>
     </div> -->
    <div flex="50" class="line" ng-if="hideNoDataFound">
     <md-content  layout-padding>
     <table width="100%">
       <tr class="pointer">
         <th>
           <a ng-click="sortBy('amount')">Amount</a>
           <span class="sortorder" ng-show="propertyName === 'amount'" ng-class="{reverse: reverse}"></span>
         </th>
         <th>
           <a ng-click="sortBy('date')">Date</a>
           <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
         </th>
         <th>
           <a ng-click="sortBy('type')">Type</a>
           <span class="sortorder" ng-show="propertyName === 'type'" ng-class="{reverse: reverse}"></span>
         </th>
         <th>
           <a ng-click="sortBy('promiseDate')">Promise Date</a>
           <span class="sortorder" ng-show="propertyName === 'promiseDate'" ng-class="{reverse: reverse}"></span>
         </th>
         <th ng-show="queryFor == 'Deleted'">
           <a ng-click="sortBy('deleteDate')">Deleted Date</a>
           <span class="sortorder" ng-show="propertyName === 'deleteDate'"  ng-class="{reverse: reverse}"></span>
         </th>
         <th ng-hide="queryFor == 'Deleted'">E</th>
         <th ng-show="queryFor == 'All'">D</th>
       </tr>
       <tr ng-class="{trcr: tran.type == 'Cr', trdr: tran.type == 'Dr', trst: tran.type == 'Settle' }" ng-repeat="tran in transactions | filter:$ctrl.query | orderBy:propertyName:reverse">
         <td>{{ tran.amount | currency:'&#8377;' }}</td>
         <td>{{ tran.date | date:"EEE,d/M/yy" }}</td>
         <td>{{ tran.type }}</td>
         <td>{{ tran.promiseDate | date:"EEE,d/M/yy" }}</td>
         <td ng-show="queryFor == 'Deleted'">{{ tran.deletedOn | date:"EEE,d/M/yy" }}</td>
         <td ng-hide="queryFor == 'Deleted'"><a ng-href="#!/transactions/update/{{tran.id}}" ng-if="queryFor == 'All'"><i class="material-icons">edit</i></a>
         <a ng-href="#!/transactions/update/{{tran.id}}" ng-if="queryFor == 'Settled' && (tran.type == 'Cr' || tran.type == 'Dr')"><i class="material-icons">edit</i></a></td>
         <td ng-click="deleteTransaction($event,tran)" ng-show="queryFor == 'All'"><i class="material-icons" style="color:red">delete</i></td>
       </tr>
     </table>
     </md-content>
    </div>
    <div flex="50">
    <md-content  layout-padding ng-show="hideNoDataFound" ng-hide="queryFor == 'Settled'">
      <table class="customertable" >
        <tr class="pointer">
          <th>
            <a>Total</a>
          </th>
          <th>
            <a>Date</a>
          </th>
          <th>
            <a>Calc Date</a>
          </th>
          <th>
            <a>Passed To</a>
          </th>
          <th>
            <a>P</a>
          </th>
          <th>
            <a>SI</a>
          </th>
          <th>
            <a>Type</a>
          </th>
        </tr>
        <tr ng-repeat="calc in calcData.calcs track by $index">
          <td>{{ calc.total | currency:'&#8377;' }}</td>
          <td>{{ calc.calcOn | date:"EEE,d/M/yy" }}</td>
          <td>{{ calc.calcTill | date:"EEE,d/M/yy"}}</td>
          <td>{{ calc.date | date:"EEE,d/M/yy" }}</td>
          <td>{{ calc.amount | currency:'&#8377;' }}</td>
          <td>{{ calc.si | currency:'&#8377;' }}</td>
          <td>{{ calc.mergedType}}</td>
        </tr>
      </table>
    </md-content>

     <md-content style="width:80%;margin: 10px auto;" ng-hide="hideNoDataFound">
       <h1>Sorry !! No transaction data found</h1>
     </md-content>
  </div>
</div>
</div>

  <md-button class="md-raised md-primary" ng-click="back()">Back</md-button>
  <md-button class="md-fab md-primary" style="float: right; "ng-href="#!/transactions/add/{{customer.id}}">
    <md-tooltip md-direction="top" >Add New Transaction</md-tooltip>
    <md-icon md-svg-src="images/plus.svg"></md-icon>
  </md-button>
</div>
